<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}" />
  <meta property="og:title" content="{{ user.name }}" />
  <meta property="og:image" content="{{ user.avatar_url }}" />
  <meta property="og:description" content="{{ meta_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/assets/img/icon.jpg">
  <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
</head>