{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% assign page_title = user.name %}

{% assign meta_description = "The personal website of Frej Larssen" %}


<!doctype html>
<html class="min-height-full">
  {% include head.html %}
  <body>
    <h1>Frej Larssen</h1>
    <h2>Computer Scientist in Stockholm</h2>
    Graduating summer 2025
    <p>This site is under development, and me too. </p>

  {% include projects.html %}
  <p id="contacts">Contact me through <b><a href="mailto:frejlarssen@gmail.com">frejlarssen@gmail.com</a></b>
    or <a href="https://www.linkedin.com/in/frej-larssen-5a118a234/"> <b>LinkedIn</b></a></p>
    <!-- TODO: Resume (education, work, assiciations), interests right now -->
  </body>
</html>
